@import "Ani.css";

body{
    /*去掉body左右上下边框*/
    padding: 0;
    margin: 0;
}
.container{
    /*设计容器大小并居中*/
     width: 100%;
     height: 100%;
     left: 0;right: 0;top: 0;bottom: 0;
     animation: forwards 3s ConAni;
 }
.center{
    left: 0;right: 0;top: 0;bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #b0c0d1;
    animation: forwards 20s centerAni 3s;
}
.top{
    left: 0;right: 0;top: 0;bottom: 0;
    width: 0;
    height: 0;
    position: fixed;
    background: #305040;
    animation: forwards 20s topAni 3s;
}
.top1{
    left: 0;right: 0;top:10%;bottom: 0;
    width: 0;
    height: 10%;
    position: fixed;
    background: #6B8C7A;
    animation: forwards 20s top1Ani 3s;
}
.left{
    left: 0;right: 75%;
    margin: auto;
    width: 0%;
    height: 60%;
    position: fixed;
    background:#7B9E7C;
    animation: forwards 20s leftAni 3s;
}
.right{
    left: 75%;right: 0;
    margin: auto;
    width:0%;
    height: 60%;
    position: fixed;
    background: #7B9E7C;
    animation: forwards 20s rightAni 3s;
}
.bottom{
    left: 0;right: 0;top: 90%;bottom: 0;
    height: 10%;
    width: 0%;
    position: fixed;
    background: #C0D1B0;
    animation: forwards 20s bottomAni 3s;
}
.text{
    top: 0;right: 0;left: 0;bottom: 0;
    position: absolute;
    opacity: 1;
    font-size: 100px;font-weight: bold;
    font-family: "阿里巴巴普惠体 2.0 55 Regular";
    animation: 3s forwards textAni;
}